.links{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    height: 400px;

    &__head{
        position: relative;

        ::before{
            position: absolute;
            content: "";
            background: #888888;
            width: 100%;
            height: 3px;
            bottom: -3;	
        }
        
        ::after{
            position: absolute;
            content: "";
            background: red;
            width: 200px;
            height: 3px;
            bottom: -3;
            left: 0;
        }
    }

    &__content{
        position: relative;
        display: flex;

        button{
            width: 150;
            height: 75;
            margin: 10;
            font-size: large;
            font-family: 'Terminal';

            cursor: pointer;
        }
    }
}

#twitter{
    border: solid #00a6ce 1px;
    color: white;
    background-color: #00a6ce;
    transition: .5s;

    &:hover{
        border:solid #00a6ce 1px;
        background-color: white;
        color: #00a6ce;
    }
}

#unityroom{
    border: solid #4632ff 1px;
    color: white;
    background-color: #4632ff;
    transition: .5s;

    &:hover{
        border:solid #4632ff 1px;
        background-color: white;
        color: #4632ff;
    }
}

#github{
    border:solid black 1px;
    color: #e7e7e7;
    background-color: black;
    transition: .5s;

    &:hover{
        border:solid black 1px;
        color: black;
        background-color: white;
    }
}

#blog{
    border: solid #f78850 1px;
    color: white;
    background-color: #f78850;
    transition: .5s;

    &:hover{
        border:solid #f78850 1px;
        color: #f78850;
        background-color: white;
    }
}

#unity{
    border: solid #0e1015 1px;
    color: white;
    background-color: #0e1015;
    transition: .5s;

    &:hover{
        border:solid #0e1015 1px;
        color: #0e1015;
        background-color: white;
    }
}