.pickup{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    margin: 0 0 50 0;

    &__head{
        position: relative;
    
        ::before{
            position: absolute;
            content: "";
            background: #888888;
            width: 100%;
            height: 3px;
            bottom: -3;	
        }
    
        ::after{
            position: absolute;
            content: "";
            background: red;
            width: 100px;
            height: 3px;
            bottom: -3;
            left: 0;
        }
    }

    &__content{
        margin: 20 0 0 0;
    }

    &__unity{
        position: relative;
        margin: 5 5 5 5;
        overflow: hidden;
        border: 1px #333333 solid;
        border-radius: 5px;

        background-color: white;
        width: 20em;
        height: 27em;
        display: block;
        text-decoration: none;
        color: #333333;

        transition: .5s;

        &:hover{
            filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
            transition: .5s;
        }
    }

    &__img{
        
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: auto;
    }

    &__text{
        font-weight: bolder;
        font-family: '游ゴシック';
        

        &--title{
            position: absolute;
            left: 0%;
            top: 85%;
            transform: translate(-0%,-85%);
            font-size: 30px;
        }

        &--desc{
            
            position: absolute;
            left: 0%;
            top: 95%;
            transform: translate(-0%,-95%);
            font-size: 17px;
            text-align: left;
        }
    }
}